<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @physician.phone %>
</p>

<p>
  <strong>Office:</strong>
  <%= @physician.office %>
</p>

<p>
  <strong>Patients:</strong>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Procedure</th>
      </tr>
    </thead>
    <tbody>
      <% @physician.procedures.each do |p| %>
        <tr>
          <td><%= p.patient.id %></td>
          <td><%= p.patient.name %></td>
          <td><%= p.patient.room.try(:location) %></td>
          <td><%= p.name %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
