<h1>Listing rooms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Privacy</th>
      <th>Patient #</th>
      <th>Patient</th>
      <th>Discharge Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.location %></td>
        <td><%= room.privacy %></td>
        <td><%= room.patient.try(:id) %></td>
        <td><%= room.patient.try(:name) %></td>
        <td><%= room.patient.try(:discharge_date) %></td>
        <td><%= link_to 'Show', room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
