<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @room.bed %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @room.privacy %>
</p>

<p>
  <strong>Patient:</strong>
  <li>
    <%= @room.patient.try(:id) %>
    <%= @room.patient.try(:name) %>
  </li>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
