<div class="page-header">
  <h1>Listing Procedures<a class="btn btn-primary pull-right btn-default"<%= link_to 'New Procedure', new_procedure_path %></a></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Cost</th>
      <th>Time</th>
      <th>Physician</th>
      <th>Patient</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.name %></td>
        <td><%= procedure.treatment.category %></td>
        <td><%= procedure.treatment.cost %></td>
        <td><%= procedure.time %></td>
        <td><%= procedure.physician.name %></td>
        <td><%= procedure.patient.name %></td>
        <td><%= link_to 'Show', procedure %></td>
        <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
        <td><%= link_to 'Destroy', procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procedure', new_procedure_path %>
