<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @procedure.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @procedure.category %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @procedure.cost %>
</p>

<p>
  <strong>Time:</strong>
  <%= @procedure.time %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @procedure.physician_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @procedure.patient_id %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> |
<%= link_to 'Back', procedures_path %>
