<!DOCTYPE html>
<html>
<head>
  <title>HendrixHeals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <a class="navbar-brand" <%= link_to "Hendrix Heals", '/' %></a>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Patients",     '/patients' %></li>
            <li><%= link_to "Physicians",   '/physicians' %></li>
            <li><%= link_to "Procedures",   '/procedures' %></li>
            <li><%= link_to "Rooms",        '/rooms' %></li>
          </ul>
        </nav>
      </div>
  </div>

  <div class ="container" >
    <%= yield %>
  </div>

</body>
</html>
