<!DOCTYPE html>
<html>
<head>
  <title>HendrixHeals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Hendrix Heals", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Patients",    '/patients' %></li>
            <li><%= link_to "Physicians",  '/physicians' %></li>
            <li><%= link_to "Procedures",  '/procedures' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
